<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.morfans.chenjunyu19.mediavolume">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <service
            android:name=".MediaMuteService"
            android:icon="@drawable/ic_audio_volume_muted_symbolic"
            android:label="@string/media_mute"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".Media1Service"
            android:icon="@drawable/ic_audio_volume_low_symbolic"
            android:label="@string/media_1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".Media2Service"
            android:icon="@drawable/ic_audio_volume_medium_symbolic"
            android:label="@string/media_2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".MediaMaxService"
            android:icon="@drawable/ic_audio_volume_high_symbolic"
            android:label="@string/media_max"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".MediaPanelService"
            android:icon="@drawable/ic_audiotrack_black_24dp"
            android:label="@string/media_panel"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
